

apptainer.enabled   = false
report.overwrite    = true
params.expr         = 'input_loom/exp6.legos.loom'
params.genes        = 'databases/hs_hgnc_tfs.txt'
params.genes_motifs = 'databases/hg38_10kbp_up_10kbp_down_full_tx_v10_clust.genes_vs_motifs.rankings.feather'
params.motifs       = 'databases/motifs-v10nr_clust-nr.hgnc-m0.001-o0.0.tbl'
params.container    = 'aertslab-pyscenic-0.12.1.sif'  // Replace with your container path
params.container_r  = 'rocker_tidyverse_4.3.1.sif'
params.project      = 'exp6_fullRun'
params.myseed       = 12345
params.nruns        = 50
