workDir = '/data/Analysis/Lab_TPH/lee_s/nf_workdir'

apptainer.enabled = true
params.expr         = 'input_loom/exp6.legos.loom'
params.genes        = 'databases/hs_hgnc_tfs.txt'
params.genes_motifs = 'databases/hg38_10kbp_up_10kbp_down_full_tx_v10_clust.genes_vs_motifs.rankings.feather'
params.motifs       = '/databases/motifs-v10nr_clust-nr.hgnc-m0.001-o0.0.tbl'
params.container    = '/data/containers/lee_s/aertslab-pyscenic-0.12.1.sif'  // Replace with your container path
params.project      = 'exp6'
params.myseed       = 12345
